<!doctype html>
<html>
  <head>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <title><%=appName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
    <script>
      document.addEventListener('DOMContentLoaded', () => {
        const checkboxes = document.querySelectorAll('.book-read-checkbox');
        
        checkboxes.forEach(checkbox => {
          checkbox.addEventListener('change', async (event) => {
            const bookId = event.target.dataset.bookId;
            const isChecked = event.target.checked;
            try {
              const response = await fetch('/update-book-status', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({ bookId, isRead: isChecked })
              });
      
              if (!response.ok) {
                console.error('Failed to update the database');
                // Optionally revert the checkbox state
                event.target.checked = !isChecked;
              }
            } catch (error) {
              console.error('Error:', error);
              // Optionally revert the checkbox state
              event.target.checked = !isChecked;
            }
          });
        });
      });
      </script>      
  </head>
  <body>
    <h1><%=appName%></h1>
    <h2>Here are the books for studying C++:</h2>
    <ul class="database">
      <% availableBooks.forEach(book => { %>
      <li class="database">
        <label class="container">
          <!-- <a href="<%=availableBooks[0].link%>"><%=availableBooks[0].name%></a> -->
          <a href="<%=book.link%>"><%=book.name%></a>
          <input type="checkbox" 
            data-book-id="<%=book.id%>" 
            class="book-read-checkbox">
            <%= book.is_read ? 'checked' : '' %>
        <span class="checkmark"></span>
      </label>
    </li>
    <% }) %>
     </ul>
    <p><a href="/">Go back to the main page</a></p>'
  </body>
</html> 