<!doctype html>
<html>
  <head>
    <title><%=appName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1><%=appName%></h1>
    <h2>Here are the books for studying C++:</h2>
    <ul>
      <li><%=availableBooks[0].name%>, <%=availableBooks[0].link%></li>
      <li><%=availableBooks[1].name%>, <%=availableBooks[1].link%></li>
      <li><%=availableBooks[2].name%>, <%=availableBooks[2].link%></li>
    </ul>
  </body>
</html> 